@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --header-height: 120px;
  --header-height-top: 40px;

  --bg-body: #f5f5f5;

  --white-color: #fff;
  --text-color: #101828;
  --border-color: #d3d3d3;
  --primary-color: #ee4d2d;
  --bg-color-linear-gradient: linear-gradient(to top, #fe6433, #f53e2d);

  --bg-color-hover: #eee;

  --boder-color: rgba(0, 0, 0, 0.05);
  --border-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-rendering: optimizeSpeed;
  font-family: 'Roboto', sans-serif;
}

a[href] {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}
